services:
  app:

    build: .

    container_name: apka_devops

    ports:
      - "5000:5000"

    volumes:
      - .:/app
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis

  redis:
    image: redis:alpine
    container_name: baza_redis
    ports:
      - "6379:6379"


